@media (max-width: 768px){
    .footer {
        &__social {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
         
      
       
        
      }
}
}
  