$content-width: 1250px;
$content-x-padding: 15px;
$main-font: 'Ubuntu', sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-xl: 22px;
$font-size-xxl: 28px;


$breakpoint_xxl: 1290px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;

$bg__body: #000;
$color__body: #fff;
$casablanca: #f9ba50;
$woodsmoke:#17171a;